*{
    font-size: 30px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
}
h3{
    color:blue;
    font-family: cursive;
}
h4{
    color:palevioletred;
    background-color: brown;
}
.myclass{
    color:darkorange
}
h5{
    color: purple;
    font-family: monospace;
}
